@import 'assets/styles/variables.scss';

.header {
  margin-top: 1rem;
  h3 {
    font-size: 1rem;
  }
  form {
    display: flex;
    gap: 0.2rem;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.list {
  margin-top: 1rem;
  li + li {
    margin-top: 0.4rem;
  }
}

.inputDate {
  display: flex;
  margin: 20px;
}