@import 'assets/styles/variables.scss';
@import 'react-calendar/dist/Calendar.css';


.react-calendar {
  border: 1px solid $secondary;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 1px 1px 4px 1px;
}

.react-calendar__navigation {
  border-radius: 20px 20px 0px 0px;
  height: 50px;
  background: $light-success;
  border-bottom: 3px solid $secondary;

}

.react-calendar__navigation button:disabled {
  background-color: $light-success;
  border-radius: 20px 20px 0 0;
}

.react-calendar button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  border-radius: 20px 20px 20px 0px;
  background: $light-success;
}

// .react-calendar__viewContainer {
//   // background: $light-warning;
// }

.react-calendar__tile--now {
  background: $muted;
  border-radius: 14px;
}
/*hover, focus 시 */
